

.project-section {
  /* position: relative !important; */
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}





.project-card-view {
  box-shadow: 0 4px 5px 3px rgb(121,183,124) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px black !important;
}



.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: rgb(129,199,132) !important;
  border-color: rgb(129,199,132) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color:rgb(129,199,132)!important;
  border-color: rgb(129,199,132) !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  /* #stybtn{
    margin-left: 0px;
  } */
  .project-card {
    width: 96%;
    padding-left: 1px !important;
    padding-right: 1px !important;
  
  }
  
}