.abouttop{
  width: 100%;
  /* background-color: rgb(0,132,146); */
  background-color:transparent;
}

.about {
  background-color: transparent;
  /* background-color: red; */
  font-size: 1.1em;
  width: 70%;
  margin: auto;
}

.profile {
  max-width: 18em;
}

.my-details {
  background-color: whitesmoke;
}

#text{
  color: white;
}
#abouttext{
  color:black;
}